$alice-blue: #F1F6FB;
$dark-blue: #1D5297;
$pale-blue: #B9D0EF;
$white: #FFFFFF;
$whisper: #ECECEC;
$solitude: #DFECFF;
$night-rider: #333333;
$gray: #8A8A8A;
$rouge: #51C99C;
$pigeon-post: #9EB8DC;
$cyan-blue: #4480C5;
$denim: #16437E;
$buttered-rum: #835826;
$pumpkin: #FF6A17;
$spindle: #B4C6D1;

$box-shadow-color: #4480C570;
$header-background-color: $white;

$max-container-width: 1240px;

$cellphone-width: 320px;
$tablet-width: 768px;
